<h1>
  <span class="char1">G</span>
  <span class="char2">O</span>
  <span class="char3">S</span>
  <span class="char4">L</span>
  <span class="char5">O</span>
  <span class="char6">C</span>
  <span class="char7">K</span>
</h1>
<div class="text-center">
    <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=146506811074.151613318022"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
</div>
<div>
    <img id="gopher" src="/images/gopher.png" />
</div>
<div class="line"></div>
<div class="about-desc">
About me :
</div>
<div class="about">
Hello! I'm Slock! 
<span class="about-secondary"> I display the stocks purchcased using goStock bot in your Slack channel. I will also look up the latest stock prices from the 1st date of the month that you purchased the stock. Sign in using your Slack credentials to view your Team's Portfolio.</span>
</div>
