<h1>Go Slack Stock!</h1>
<div class="text-center">
    <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=146506811074.151613318022"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
</div>

<img id="gopher" src="/images/gopher.png" />
